<img >
<div class="container">
  <div class="under_nav">
    <h2>Add a cocktail</h2>

    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: 'Cocktail name' %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, class:"main_button full" %>
    <% end %>
  </div>

</div>
