<div class="container">

  <div class="under_nav">

    <div class="row title-row">
      <h1><%= @cocktail.name %></h1>
    </div>

    <div class="row">
      <div class="col-lg-8 col-sm-12 navigation-menu">

        <div class="row ingredient-table">
          <div class="col-6">
            <p><strong>Ingredient</strong></p>
          </div>
          <div class="col-4">
            <p><strong>Dose</strong></p>
          </div>
          <div class="col-2">
          </div>
        </div>

        <% @cocktail.doses.each do |dose| %>
        <div class="row">
          <div class="col-6">
            <p><%= "#{dose.ingredient.name}" %></p>
          </div>
          <div class="col-4">
            <p><%="#{dose.description}" %></p>
          </div>
          <div class="col-2">
            <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, dose_path(dose), method: :delete, data: {confirm: "Are you sure ?"} %>
          </div>
        </div>
        <% end %>

        <div class="row add-ingredient">
            <a href="/cocktails/<%= @cocktail.id %>/doses/new" class="main_button full"> Add ingredient </a>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 image-cocktail">
        <img src="<%= @cocktail.photo %>" alt="<%= @cocktail.name %>">
      </div>

    </div>



  </div>
</div>
