<div class="container">
  <div class="under_nav">
    <h2>Add something to <%= @cocktail.name %> ! </h2>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description, label: 'Dose' %>
      <%= f.association :ingredient%>
      <%= f.button :submit, 'Add ingredient', class: "main_button full" %>
    <% end %>
  </div>

</div>
